/* Styling for whole body*/
body{
    margin: 80px auto 10px auto;
    font-family: 'Times New Roman';
    color:  #594b3a;
    width:750px;

}
/* Styling for Page heading */
#pagetitle{
    text-align: center;
    border-top: solid 1px #594b3a;
    border-bottom:solid 3px #594b3a;
    padding:15px 0px 15px 0px;
    }
h1{
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 5px;
}
/* Styling for all H4 Which are used as headings */
h4{
    text-align: center;
    font-family: Arial;
    font-weight: 600;
    word-spacing: 2px;
    letter-spacing: 2px;
    margin:0px;

}

h4 a{
    text-decoration: none;
    color:#43948e;
    font-size:8px;
    vertical-align: 3px;

}

/* Navigation styling*/
#content_nav {
    line-height: 40px;
    padding-top:20px;
}
#content_nav a{
    color:#43948e;
}

/* Styling for content of each section in the article*/
p{

    text-align:justify;
    margin:5px;
    line-height: 25px;
    color:  #594b3a;
    letter-spacing: 1px;
    
}
.sectionsubtitle{
    text-align: center;
    color:#594b3acb;
}
section{
    padding-bottom:50px;
    font-family: Arial;
    overflow: auto;
}
/* Stling for blockquote */
blockquote{
    background: #c7ae901b;
    height:100px;
    font-size:25px;
    padding:20px 20px 35px 20px;
    font-family: 'Times New Roman';
    font-style: italic; 
    color:black;
    letter-spacing: 1px;
    line-height: 40px;
    margin:20px 0px;
}
#quoteauthor{
    float: right;
}
/* Styling for image in section  ART THAT I LIKE */
#image{
    float:left; 
    width:50%;
    margin-right:30px;
    margin-top:10px;

}

/* Table Styling Start */
table{

    width:100%;
    margin-top:30px;
    text-align: right;
}

th{
    background: rgba(55, 53, 43, 0.762);
    color:white;
    border:2px solid #c7ae9010;
    padding: 10px;
}

td{
    border:1px solid #bdb09f30;
    padding:10px;
}
#middlerow td{
    background: #ded2c361;
    border-top:1px black dashed;
    border-bottom:1px black dashed;       
}
.region{
    text-align: left;
}
/* Table Styling Ends */

/* Footer styling*/
footer{
    border-top: 2px #ded2c361 solid;
    padding :2px;
    margin-top:50px;
    font-family: Arial;

}
footer p{
    text-align:center;
    font-size:13px;
}
/* Footer styling ends */