
#content{
    text-align:center;
    padding-top:30%;
    text-shadow:0px 4px 3px grey,
                0px 8px 13px blue,
                0px 18px 23px yellowgreen;
}
hr{
    border-top:1px solid #f8f8f8;
    border-bottom: 1px solid rgba(216, 58, 58, 0.2);
    width: 40%;
}
h1{
    color:whitesmoke;
    font-weight:700;
    font-size: 3em;
}
h3{
    color: whitesmoke;
}

.container1{
    padding-bottom:10%;
    background-image: linear-gradient(rgba(35, 18, 67, 0.8),rgba(35, 18, 67, 0.8)),url(./images/chandu2.jpg);
    background-size:cover;
    background-position: center;
}
.container2{
    font-family: butlerregular,Georgia,Times,Times New Roman,serif;
    background:rgba(235, 229, 221, 0.365);
    padding-bottom: 30px;
    padding-top: 100px;
    padding-left:5%;
    line-height: 3rem;
    text-align: justify;
    font-size: 2rem;
}
.container2 h2{
    font-size:5rem;
    line-height: 6rem;
    font-family: butlerregular,Georgia,Times,Times New Roman,serif;
    letter-spacing: 3px;
}
.container3{
    background:rgba(184, 220, 220, 0.598);
    padding-top: 100px;
    padding-bottom:100px;
    padding-left:5%;

}

.navbar{
    background:rgba(35, 18, 67,0.9);
    min-height: 90px;
    border-bottom:none;
    font-size: 1.2em;
    line-height: 50px;
    color: white;
    padding-top:20px;
    letter-spacing: 3px;
}
.nav li{
    padding-right:30px;
}
.navbar-default .navbar-nav>li>a{
    color: white;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background: none;
    color:rgb(191, 199, 238);
}
img{
    margin-top:20px;
    width:150px;
    height:200px;
    float:left;
}

form{
    width:70%;
}